<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>cookie列表</title>
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/css/demo.css}">
	<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/easyui/js/validateExtends.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function () {
			var table;

			//datagrid初始化
			$('#dataList').datagrid({
				title: 'cookie',
				iconCls: 'icon-more',//图标
				border: true,
				collapsible: false,//是否可折叠的
				fit: true,//自动大小
				method: "post",
				url: "/accountCookie/getAccountCookieList",
				singleSelect: false,//是否单选
				pagination: true,//分页控件
				rownumbers: true,//行号
				pageSize: 20,
				columns: [
					[
						{field: 'chk', checkbox: true, width: 50},
						{field: 'account', title: '账号',align:'center'},
						{field: 'cookie', title: 'cookie',width: 400,align:'center'},
						{field: 'updateTime', title: '同步时间',align:'center'}
					]
				],
				toolbar: "#toolbar",

			});
			//设置分页控件
			var p = $('#dataList').datagrid('getPager');
			$(p).pagination({
				// pageSize: 10,//每页显示的记录条数，默认为10
				pageList: [10, 20, 30, 50, 100],//可以设置每页记录条数的列表
				beforePageText: '第',//页数文本框前显示的汉字
				afterPageText: '页    共 {pages} 页',
				displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
			});

			$("#updateCookie").click(function () {
				var selectRows = $("#dataList").datagrid("getSelections");
				if(selectRows.length === 0){
					$.messager.alert("消息提醒", "请选择一个账户!", "warning");
					return;
				}
				var accounts = [];
				for (var i in selectRows) {
					accounts.push(selectRows[i].account);
				}
				accounts = accounts.join(",");
				$.ajax({
					type: "post",
					url: "/accountCookie/updateAccountCookie?accounts="+accounts,
					success: function(data){
						$.messager.alert("消息提醒", "更新cookie成功", "success");
						$("#dataList").datagrid("reload");
					}
				});
			});

			$("#updateAllCookie").click(function () {
				$.ajax({
					type: "post",
					url: "/accountCookie/updateAllAccountCookie",
					success: function(data){
						$("#dataList").datagrid("reload");
					}
				});
			});

			$("#search-btn").click(function () {
				$('#dataList').datagrid('load', {
					account: $('#search_accountCookie').val().trim()
				});
			});

			$("#clean-btn").click(function () {
				$('#search_accountCookie').textbox("setValue","");
				$("#search-btn").click();
			});

		});

		$(document).keydown(function (event) {
			if (event.keyCode === 13) {
				$("#search-btn").click();
			}
		});

	</script>
</head>
<body>
<!-- 数据列表 -->
<table id="dataList" cellspacing="0" cellpadding="0">

</table>
<!-- 工具栏 -->
<div id="toolbar">

	<div style="float: left;margin-top:4px;" class="datagrid-btn-separator" >&nbsp;&nbsp;
		<a id="updateCookie" href="javascript:;" class="easyui-linkbutton"
		   data-options="iconCls:'icon-update-cookie',plain:true">更新cookie信息</a>&nbsp;&nbsp;
		<a id="updateAllCookie" href="javascript:;" class="easyui-linkbutton"
		   data-options="iconCls:'icon-update',plain:true">更新所有cookie信息</a>
		账号：<input id="search_accountCookie" class="easyui-textbox" name="search_accountCookie" /></div>
		<a id="search-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
		<a id="clean-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true">清除</a>
	</div>
</div>



</body>
</html>
