<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbx.adsmanager.mapper.AdAccountMapper" >

    <resultMap id="BaseResultMap" type="com.hbx.adsmanager.domain.AdAccount" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="account_status" property="accountStatus" jdbcType="VARCHAR" />
        <result column="transfer_and_rest_status" property="transferAndRestStatus" jdbcType="VARCHAR" />
        <result column="ad_account_name" property="adAccountName" jdbcType="VARCHAR" />
        <result column="balance" property="balance" jdbcType="DOUBLE" />
        <result column="spend_amount" property="spendAmount" jdbcType="DOUBLE" />
        <result column="ad_account_id" property="adAccountId" jdbcType="VARCHAR" />
        <result column="recharge_status" property="rechargeStatus" jdbcType="VARCHAR" />
        <result column="balance_warning_status" property="balanceWarningStatus" jdbcType="VARCHAR" />
        <result column="disable_warning_status" property="disableWarningStatus" jdbcType="VARCHAR" />
        <result column="ad_account_system" property="adAccountSystem" jdbcType="VARCHAR" />
        <result column="ad_account_system_alias" property="adAccountSystemAlias" jdbcType="VARCHAR" />
        <result column="ad_account_system_status" property="adAccountSystemStatus" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="ad_account_system_bd_name" property="adAccountSystemBdName" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
    </resultMap>


    <select id="queryAdAccountList"  resultMap="BaseResultMap">
        select * from ad_account
            <where>
                <if test="adAccount.id != '' and adAccount.id !=null">
                    id like "%"#{adAccount.id}"%"
                </if>
                <if test="adAccount.adAccountSystemBdName != '' and adAccount.adAccountSystemBdName !=null">
                    and ad_account_system_bd_name like "%"#{adAccount.adAccountSystemBdName}"%"
                </if>
                <if test="adAccount.adAccountSystem != '' and adAccount.adAccountSystem !=null">
                    and ad_account_system like "%"#{adAccount.adAccountSystem}"%" or ad_account_system_alias like "%"#{adAccount.adAccountSystem}"%"
                </if>
                <if test="adAccount.accountStatus != '' and adAccount.accountStatus !=null">
                    and account_status = #{adAccount.accountStatus}
                </if>
                <if test="adAccount.adAccountSystemStatus != '' and adAccount.adAccountSystemStatus !=null">
                    and ad_account_system_status = #{adAccount.adAccountSystemStatus}
                </if>
                <if test="adAccount.balance > 0">
                    and balance> #{adAccount.balance}
                </if>
                <if test="adAccount.spendAmount > 0">
                    and spend_amount > #{adAccount.spendAmount}
                </if>
                <if test="adAccount.note != '' and adAccount.note !=null">
                    and note = #{adAccount.note}
                </if>
            </where>
            order by auto_id DESC
        limit #{page},#{rows}
    </select>

    <select id="queryAdAccountListByList"  resultMap="BaseResultMap">
        select * from ad_account
        <where>
            ad_account_id in
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                <if test="item != '' and item !=null">
                    #{item}
                </if>
            </foreach>
            <if test="adAccountSystemBdName != '' and adAccountSystemBdName !=null">
                and ad_account_system_bd_name like "%"#{adAccountSystemBdName}"%"
            </if>
            <if test="adAccountSystem != '' and adAccountSystem !=null">
                and ad_account_system like "%"#{adAccountSystem}"%" or ad_account_system_alias like "%"#{adAccountSystem}"%"
            </if>
            <if test="accountStatus != '' and accountStatus !=null">
                and account_status = #{accountStatus}
            </if>
            <if test="adAccountSystemStatus != '' and adAccountSystemStatus !=null">
                and ad_account_system_status = #{adAccountSystemStatus}
            </if>
            <if test="balance > 0">
                and balance> #{balance}
            </if>
            <if test="spendAmount > 0">
                and spend_amount > #{spendAmount}
            </if>
            <if test="note != '' and note !=null">
                and note = #{note}
            </if>
        </where>
        order by field ( ad_account_id,
        <foreach collection="ids" item="item" separator="," close=")">
            #{item}
        </foreach>
        limit #{page},#{rows}
    </select>

    <select id="countAdAccount" resultType="Integer">
        select count(*) from ad_account
        <where>
            <if test="adAccount.id != '' and adAccount.id !=null">
                id like "%"#{adAccount.id}"%"
            </if>
            <if test="adAccount.adAccountSystemBdName != '' and adAccount.adAccountSystemBdName !=null">
                and ad_account_system_bd_name like "%"#{adAccount.adAccountSystemBdName}"%"
            </if>
            <if test="adAccount.adAccountSystem != '' and adAccount.adAccountSystem !=null">
                and ad_account_system like "%"#{adAccount.adAccountSystem}"%" or ad_account_system_alias like "%"#{adAccount.adAccountSystem}"%"
            </if>
            <if test="adAccount.accountStatus != '' and adAccount.accountStatus !=null">
                and account_status = #{adAccount.accountStatus}
            </if>
            <if test="adAccount.adAccountSystemStatus != '' and adAccount.adAccountSystemStatus !=null">
                and ad_account_system_status = #{adAccount.adAccountSystemStatus}
            </if>
            <if test="adAccount.balance > 0">
                and balance > #{adAccount.balance}
            </if>
            <if test="adAccount.spendAmount > 0">
                and spend_amount > #{adAccount.spendAmount}
            </if>
        </where>
    </select>

    <select id="countAdAccountByList" resultType="Integer">
        select count(*) from ad_account
        <where>
            ad_account_id in
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                <if test="item != '' and item !=null">
                    #{item}
                </if>
            </foreach>
            <if test="adAccountSystemBdName != '' and adAccountSystemBdName !=null">
                and ad_account_system_bd_name like "%"#{adAccountSystemBdName}"%"
            </if>
            <if test="adAccountSystem != '' and adAccountSystem !=null">
                and ad_account_system like "%"#{adAccountSystem}"%" or ad_account_system_alias like "%"#{adAccountSystem}"%"
            </if>
            <if test="accountStatus != '' and accountStatus !=null">
                and account_status = #{accountStatus}
            </if>
            <if test="adAccountSystemStatus != '' and adAccountSystemStatus !=null">
                and ad_account_system_status = #{adAccountSystemStatus}
            </if>
            <if test="balance > 0">
                and balance > #{balance}
            </if>
            <if test="spendAmount > 0">
                and spend_amount > #{spendAmount}
            </if>
            <if test="note != '' and note !=null">
                and note = #{note}
            </if>
        </where>
    </select>

    <select id="countAccountSystemAdAccount" resultType="com.hbx.adsmanager.domain.AccountSystem">
        SELECT
            ad_account_system AS "clientName",
            COUNT(ad_account_id) AS "totalCount",
            IFNULL(SUM(CASE WHEN account_status='1' THEN 1 ELSE 0 END ),0) AS "activeCount",
            IFNULL(SUM(CASE WHEN account_status='2' THEN 1 ELSE 0 END ),0) AS "disableCount"
        FROM
            ad_account
        WHERE ad_account_system = #{accountSystem}
    </select>



</mapper>